<div class="card">
  <img src="<%= deputado['urlFoto'] %>" alt="Avatar" style="width:100%">
  <div class="card-text">
    <b><%= abrevia_nome(deputado['nome']) %></b><br>
    Partido: <%= deputado['siglaPartido'] %><br>
    UF: <%= deputado['siglaUf'] %><br>
  </div>
</div>