<div class="container">
  <span class="col-md-6">
    <%= raw exibe_botao_pagina(params, false)  %>
  </span>
  <span class="col-md-6 text-right">
    <%= raw exibe_botao_pagina(params, true)  %>
  </span>
</div>