<p id="notice"><%= notice %></p>

<h1>Lista de Deputados da Câmara</h1>

<div class="container">
  <% ajusta_grid(@lista_deputados, 6).each do |linha| %>
    <div class="row">
    <% linha.each do |deputado| %>
      <div class="col-md-2">
        <%= render partial: 'card_deputado', locals: { deputado: deputado } %>
      </div>
    <% end %>    
    </div>
  <% end %>
</div>

<%= render partial: 'paginacao', locals: { params: @params } %>




    