<h1>Seja bem vindo!</h1>
<div class="container">
  <div class="sobre">
    <p class="sobre">Esse site apresenta algumas informações sobre os partidos políticos e deputados da Câmara. Todas as informações são consultadas em tempo real na base de dados pública da Câmara.</p>
    <p>Saiba mais sobre os dados abertos da câmara em: <a href="https://dadosabertos.camara.leg.br/">https://dadosabertos.camara.leg.br/</a></p>
    <p>A listagem de deputados é alimentada a partir da seguinte API RESTful: <a href="https://dadosabertos.camara.leg.br/swagger/api.html">https://dadosabertos.camara.leg.br/swagger/api.html</a></p>
    <p>Esse é um projeto pessoal realizado com o objetivo de fazer um estudo prático. Foi implementado totalmente em Ruby on Rails. Visite a página do projeto no Github (link) e fique a vontade para baixar, clonar ou fazer um fork.</p>
  </div>
</div>